* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Space Grotesk', sans-serif;
}

:root {
    --fondo: #F5F5F5;
    --verde1: #DBFDD8;
    --verde2: #BBEFA9;
    --verde3: #96D289;
    --rosa1: #FFCAE9;
    --rosa2: #FFA8D9;
    --rosa3: #FF70BF;
}

body {
    background: var(--fondo);
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 900;
    font-display: swap;
    color: var(--rosa3);
    font-size: 30vh;
    line-height: 40vh;
    transition: 1s;
    overflow: auto;
    animation: colorchange 7s infinite;
}

@keyframes colorchange {
    0% {
        color: var(--rosa3);
    }
    20% {
        color: var(--rosa2);
    }
    40% {
        color: var(--rosa1);
    }
    60% {
        color: var(--verde2);
    }
    80% {
        color: var(--verde3);
    }
    100% {
        color: var(--rosa3);
    }
}

h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 100;
    font-display: swap;
    color: var(--rosa3);
    font-size: 15vh;
    transition: 1s;
}

h3, span {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-display: swap;
    color: var(--rosa3);
    font-size: 10vh;
    transition: 1s;
}

h4 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-display: swap;
    color: var(--rosa3);
    font-size: 3.5vh;
    transition: 1s;
}

h5 {
    font-family: 'Space Grotesk', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    color: var(--rosa3);
    font-size: 6vh;
}

h6 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    font-display: swap;
    color: var(--rosa3);
    font-size: 4vh;
}

p {
    font-family: 'Space Grotesk', sans-serif;
    font-display: swap;
    color: var(--rosa3);
    font-size: 2.7vh;
    margin-bottom: 0;
}


a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

#menu {
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: fixed;
    padding: 2em 1em 1em;
    top: 0;
    width: 100%;
    z-index: 998;
}

#menu div a {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    color: var(--rosa3);
    text-align: center;
    padding: 5px 4.5%;
    text-decoration: none;
    font-size: 25px;
    z-index: 989;
    transition: 0.2s;
}

#menu div ul li a {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    color: var(--rosa3);
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 25px;
    z-index: 989;
    transition: 0.2s;
}

.dropdown-center {
    padding: 5px 4.5%;
}

.inicio {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    color: var(--rosa3);
    background-color: transparent;
    text-align: center;
    padding: 5px 4.5%;
    text-decoration: none;
    font-size: 25px;
    z-index: 989;
    transition: 0.2s;
    border: none;
}

#menu div a i {
    transition: 0.5s;
}

.menu_logo {
    padding: 5px 4%;
}

.menu-text {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.logo-producto {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
    margin-top: 24vh;
    margin-bottom: 2vh;
    z-index: 900;
}

#menu div a:hover {
    color: var(--verde3);
    background-color: transparent;
}

#menu div a i:hover {
    color: var(--verde3);
}

.container-compra button {
    height: 80px;
    width: 240px;
    border-radius: 16px;
    border: solid 3px var(--rosa3);
    background-color: var(--rosa3);
    cursor: pointer;
    outline: none;
  
    color: white;
    font-size: 24px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    text-align: center;

    margin: 0 auto;
    margin-bottom: 7em;
    display: block;
    text-decoration: none;
    transition: .3s;
}

.spark {
    position: absolute;
    width: 30px;
    height: 8px;
    border-radius: 3px;
    background-color: var(--verde2);
    transform: none;
}
  
.container-compra button:hover {
    border: solid 3px var(--verde3);
    background-color: var(--verde3);

}

.descripcion {
    text-align: center;
    padding: 5em 7em;
}

/* #coleccion {
    margin: 5em 7em;
} */

.scrolling-text {
    width: 100%;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
}

.titulo-seccion span {
    margin: 0 30px;
}

.titulo-seccion {
    animation: animate_text 30s linear infinite;
    margin-top: 1em;
}

@keyframes animate_text {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
}

#coleccion h3, #popular h3 {
    margin: .3em 1.5em;
}

.coleccion-img, .popular-img {
   height: 500px;
}

.container {
    margin: 0;
    padding: 0;
    justify-content: center;
    max-width: 100%;
}

.row {
    width: 100%;
    padding: 0;
    margin: 0;
    padding-right: none;
    padding-left: none;
}

.row div img {

    width: 100%;
    height: 100%; 
    object-fit: contain;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
